<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MyConnString" connectionString="Data Source=DESKTOP-M93QOR1\Ruslan;Integrated Security=True;Initial Catalog=BookDb"/>
	</connectionStrings>
</configuration>